.Authorization {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0px 2px 10px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;

}

.Input { 
    display: block;
    margin-top: 8px
}

@media (min-width: 600px) {
    .Authorization {
        width: 500px;
    }
}